div.mermaid {
  width: 100%;
  margin: auto;
}

/* image title */
.mermaid-title {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-weight: 600;
  font-size: 1.75em;
  padding-bottom: 0.5em;
}

/* image itself */
.mermaid > svg {
  margin: auto;
  display: block;
}
